body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
  min-height: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-dark {
  background-color: #282828;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
  margin-top: 10px;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  margin-top: 10px;
  margin-bottom: 20px;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.rounded-circle {
  width: 200px;
  height: 200px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.introduction {
  margin-right: 36px;
  font-size: 15px;
  margin-left: 36px;
  padding-bottom: 24px;
  padding-top: 24px;
  margin-top: 20px;
  margin-bottom: 24px;
  border-bottom: 1px solid #e3e3e3;
  border-top: 1px solid #e3e3e3;
}

.text-muted {
  font-size: 1rem;
  font-style: italic;
}

.sidebar {
  position: fixed;
  width: 300px;
}

.footer {
  position: fixed;
  color: #ffffff;
  width: 100%;
  bottom: 0px;
  height: 2rem;
  padding-top: 5px;  
}


.comment-section {
  margin-top: 5px;
  border-top: 1px solid #e3e3e3
}

.comment-title {
  margin-top: 5px;
}

.comment {
  margin-bottom: 5px;
}