{% extends "posts/base.html" %}
{% block content %}
<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Delete Post</legend>
      <h3>Are you sure you want to delete the post "{{ object.title }}"?</h3>
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-danger mr-2" type="submit">Delete</button>
      <a class="btn btn-outline-info float-right" href="{% url 'posts-detail' object.id %}">Cancel</a>
    </div>
  </form>
</div>
{% endblock content %}